.exhibit{
    background-color: rgb(231, 231, 231);
    margin: 20px 300px;
    margin-left: 18px;
    border: 1px solid black;
    text-align: left;
    padding: 4px;
    width: 450px;
    border-radius: 10px;
}

li {
    list-style-type: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    padding: 7px;
  }  